.txt-padding {
    padding: 25px;
}

.img-border {
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 100%;
}

html {
    height: 100%;
    width: auto;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: auto;
    background: rgb(238,242,243);
    background: linear-gradient(315deg, rgba(238,242,243,1) 0%, rgba(142,158,171,1) 100%);
    overflow: visible;
    color: rgb(47,79,79);
}

header h1 {
    font-size: 32pt;
    font-weight: normal;
}

header p {
    max-width: 800px;
}

#project-list {
    max-width: 75%;
}

footer {
    width: auto;
    background-color: rgb(238,242,243);
}

.footer-txt {
    font-size: 9pt;
    color: rgb(112,128,144);
}

.footer-txt a {
    color: rgb(112,128,144);
}

.social-icons {
    font-size: 18pt;
    padding-right: 5px;
}

@media screen and (max-width: 576px) {
    body h1 {
        font-size: 24pt;
    }
    .img-border {
        width: 325px;
        height: 225px;
    }
}

@media screen and (min-width: 992px) {
    header {
        position: fixed;
        height: 100%;
        width: 25%;
    }
    header h1 {
        font-size: 40pt;
    }
    #project-list {
        position: absolute;
        top: 0;
        max-width: 50%;
        margin-left: 30%;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 25%;
        background-color: rgba(238,242,243,0);
    }
}
