
.txt-padding {
    padding: 25px;
}

.txt-caption {
    font-size: 9pt;
    font-style: italic;
}

.img-border {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

.magnify-icon-border {
    position: absolute;
    top: 4%;
    right: 4%;
    pointer-events: none;
}

.magnify-icon {
    color: white; 
    font-size: 20pt;
    text-shadow: 2px 2px 5px black;
}

img {
    width: 95%;
    border-radius: 10px 10px 10px 10px;
}

.expandable-img:hover {
    opacity: 0.7;
    cursor: zoom-in;
}

html {
    height: 100%;
    width: auto;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7);
    overflow: scroll;
}

#modal-content {
    margin: 15% auto;
    text-align: center;
    animation-name: fade;
    animation-duration: 0.25s;
}

@keyframes fade {
    from {transform:scale(0.75)}
    to {transform:scale(1)}
}

.close-icon-border {
    position: fixed;
    top: 3%;
    right: 3%;
}

#close-icon {
    color: white; 
    font-size: 18pt;
    text-shadow: 2px 2px 5px black;
}

#close-icon:hover,
#close-icon:focus {
    color: #bbb;
    cursor: pointer;
}

header {
    width: auto;
    background: rgb(238,242,243);
    background: linear-gradient(315deg, rgba(238,242,243,1) 0%, rgba(142,158,171,1) 100%);
    overflow: visible;
    color: rgb(47,79,79);
}

header h1 {
    font-size: 32pt;
    font-weight: normal;
}

header p {
    max-width: 800px;
}

#project-list {
    max-width: 75%;
    height: 100%;
}

footer {
    width: auto;
    background-color: rgb(238,242,243);
}

.footer-txt {
    font-size: 9pt;
    color: rgb(112,128,144);
}

.footer-txt a {
    color: rgb(112,128,144);
}

.social-icons {
    font-size: 18pt;
    padding-right: 5px;
}

@media screen and (max-width: 576px) {
    body h1 {
        font-size: 24pt;
    }
    .img-border {
        width: 325px;
        height: 225px;
    }
    .magnify-icon-border {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #modal-content {
        width: 85%;
    }
    header {
        position: fixed;
        height: 100%;
        width: 25%;
    }
    header h1 {
        font-size: 40pt;
    }
    #project-list {
        position: absolute;
        top: 0;
        max-width: 50%;
        margin-left: 30%;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 25%;
        background-color: rgba(238,242,243,0);
    }
}
